@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #0041ad;
    background: linear-gradient(115deg, #f8f2f2b5 0%, #8091ae 100%);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
