.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    padding: 30px 30px;
    font-family: var(--font-geist-sans);
  }
  
  @media (prefers-color-scheme: dark) {
    .page {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 12px;         /* spacing between heading and input */
    padding-top: 5px;  /*add padding to push content down*/
    font-size: 30px;
  }
  
  
  .pageTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .searchBox {
    display: block;
    width: 1000px;                     
    height: 50px;                    
    padding: 8px 12px;
    font-size: 16px;
    border: 1.5px solid var(--gray-alpha-200); 
    border-radius: 4px;
    margin-top: 12px;
    text-align: left;
    background-color: #adc3de; 
    color: #000000;             
    box-sizing: border-box;
  }
  

.leftText {
  text-align: left; /* ensures heading is left-aligned */
}

.suggestions{
  font-size: 30px;
  padding-top: 100px;
}

.imageRow {
  display: flex;
  justify-content: flex-start;  /* or center */
  align-items: flex-start;      /* align items at top */
  gap: 20px;                    /* spacing between items */
}

.imageItem {
  display: flex;
  flex-direction: column;       /* stack image above text */
  align-items: center;          /* center text under image */
}

.imageItem img {
  width: 420px;                 /* adjust size */
  height: 300px;
  border-radius: 8px;
}

.imageItem p {
  margin-top: 8px;              /* spacing between image and text */
  font-size: 14px;
  text-align: center;
}
