.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    padding: 30px 30px;
    font-family: var(--font-geist-sans);
  }
  
  @media (prefers-color-scheme: dark) {
    .page {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }

  .supportContainer {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    box-sizing: border-box;
  }
  
  
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 12px;         
    padding-top: 5px; 
    font-size: 30px;
    padding-left: 50px;
  }
  
  
  .pageTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .searchBox {
    display: block;
    width: 1000px;                     
    height: 50px;                    
    padding: 8px 12px;
    font-size: 16px;
    border: 1.5px solid var(--gray-alpha-200); 
    border-radius: 4px;
    margin-top: 12px;
    text-align: left;
    background-color: #adc3de; 
    color: #000000;             
    box-sizing: border-box;
  }
  

.leftText {
  text-align: left;
}

.suggestions{
  font-size: 35px;
  padding-top: 100px;
  padding-left: 50px;
}

.imageRow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;      
  gap: 20px;                    
  padding-left: 50px;
}

.imageItem {
  display: flex;
  flex-direction: column;      
  align-items: center;
}

.imageItem img {
  width: 400px;                 
  height: 280px;
  border-radius: 8px;
}

.imageItem p {
  margin-top: 5px;              
  font-size: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.imageItem img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
